<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>The Rick and Morty API</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width;initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" href="/img/logo.png">
</head>

<body>
    <header>
        <nav class="menu">
            <a th:href="@{/}"><img th:src="@{/img/logo.svg}" alt="RickAndMortyAPLogo" class="logo"></a>

            <ul>
                <li><a th:href="@{/docs}">Docs</a></li>
                <li><a th:href="@{/about}">About</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <div class="titulo">
            <h1>The Rick and Morty API</h1>
        </div>

        <div class="personagens">
            <div class="espacoPersonagens">
                <div class="personagensEsquerda">
                    <div class="personagem1">
                        <div class="imagemPersonagem1">
                            <img th:src="@{/img/imagemPersonagem1.jpeg}" alt="Alien Morty" class="imgPersonagem1">
                        </div>
                        <div class="textoPersonagem1">
                            <div class="textos1">
                                <h2>Alien Morty</h2>
                                <p class="textoAlienMorty1">Unknown - Alien</p>
                            </div>
                            <div class="textos2">
                                <p class="textoAlienMorty2">Last Known location:</p>
                                <a href="#">Citadel of Ricks</a>
                            </div>
                            <div class="textos3">    
                                <p class="textoAlienMorty3">First seen in:</p>
                                <a href="#">Close Rick-counters of the Rick Kind</a>
                            </div>
                        </div>
                    </div>
                    <div class="personagem2">
                        <div class="imagemPersonagem2">
                            <img th:src="@{/img/imagemPersonagem2.jpeg}" alt="Mr. Needful" class="imgPersonagem2">
                        </div>
                        <div class="textoPersonagem2">
                            <div class="textos4">
                                <h2>Mr. Needful</h2>
                                <p class="textoMechanicalMorty1">Alive - Humanoid</p>
                            </div>
                            <div class="textos5">   
                                <p class="textoMechanicalMorty2">Last Known location:</p>
                                <a href="#">Earth (Replacement Dimension)</a>
                            </div>
                            <div class="textos6">
                                <p class="textoMechanicalMorty3">First seen in:</p>
                                <a href="#">Something Ricked This Way Comes</a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="personagem3">
                        <div class="imagemPersonagem3">
                            <img th:src="@{/img/imagemPersonagem3.jpeg}" alt="The Shapeshifttress" class="imgPersonagem3">
                        </div>
                        <div class="textoPersonagem3">
                            <div class="textos7">
                                <h2>The Shapeshifttress</h2>
                                <p class="mrNeedful1">Alive - Alien</p>
                            </div>
                            <div class="textos8">   
                                <p class="mrNeedful2">Last Known location:</p>
                                <a href="#">Heist-Con</a>
                            </div>
                            <div class="textos9">
                                <p class="mrNeedful3">First seen in:</p>
                                <a href="#">One Crew Over the Crewcoo's Morty</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="personagensDireita">
                    <div class="personagem4">
                        <div class="imagemPersonagem4">
                            <img th:src="@{/img/imagemPersonagem4.jpeg}" alt="Mechanical Morty" class="imgPersonagem4">
                        </div>
                        <div class="textoPersonagem4">
                            <div class="textos10">
                                <h2>Mechanical Morty</h2>
                                <p class="mechanicalMorty1">Dead - Robot</p>
                            </div>
                            <div class="textos11">   
                                <p class="mechanicalMorty2">Last Known location:</p>
                                <a href="#">Earth (Replacement Dimension)</a>
                            </div>
                            <div class="textos12">
                                <p class="mechanicalMorty3">First seen in:</p>
                                <a href="#">Rickmancing the Stone</a>
                            </div>
                        </div>
                    </div>
                    <div class="personagem5">
                        <div class="imagemPersonagem5">
                            <img th:src="@{/img/imagemPersonagem5.jpeg}" alt="Vermigurber" class="imgPersonagem5">
                        </div>
                        <div class="textoPersonagem5">
                            <div class="textos13">
                                <h2>Vermigurber</h2>
                                <p class="vermigurber1">Alive - Alien</p>
                            </div>
                            <div class="textos14">   
                                <p class="vermigurber2">Last Known location:</p>
                                <a href="#">Gorgon Quadrant</a>
                            </div>
                            <div class="textos15">
                                <p class="vermigurber3">First seen in:</p>
                                <a href="#">The Old Man and the Seat</a>
                            </div>
                        </div>
                    </div>
                    <div class="personagem6">
                        <div class="imagemPersonagem6">
                            <img th:src="@{/img/imagemPersonagem6.jpeg}" alt="Evolved Narnian" class="imgPersonagem6">
                        </div>
                        <div class="textoPersonagem6">
                            <div class="textos16">
                                <h2>Evolved Narnian</h2>
                                <p class="evolvedNarnian1">Alive - Humanoid</p>
                            </div>
                            <div class="textos17">   
                                <p class="evolvedNarnian2">Last Known location:</p>
                                <a href="#">Narnia Dimension</a>
                            </div>
                            <div class="textos18">
                                <p class="evolvedNarnian3">First seen in:</p>
                                <a href="#">Mort Dinner Rick Andre</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="conteudoFooter">
            <ul class="informacoes-parte1">
                <a href="#">CHARACTERS: 30</a>
                <a href="#">LOCATIONS: 22</a>
                <a href="#">EPISODES: 16</a>
            </ul>
            <a href="#" class="serverStatus">SERVER STATUS <div class="bolaVerde"></div></a>
            <ul class="informacoes-parte2">
                <a href="https://github.com/SamuelGaitkoski" class="iconGitHuba"><img th:src="@{/img/iconGitHub.png}" alt="ícone Git Hub" 
                    class="iconGitHub"></a>
                <a href="https://www.linkedin.com/in/samuel-gaitkoski-375385203/" class="iconLinkedina"><img th:src="@{/img/iconLinkedin.png}" alt="ícone Linkedin" 
                    class="iconLinkedin"></a>
                <a href="https://www.instagram.com/sgaitkoski_/" class="iconInstagrama"><img th:src="@{/img/iconInstagram.png}" alt="ícone Instagram" 
                    class="iconInstagram"></a>
            </ul>
            <a href="#" class="netlifya"><img th:src="@{/img/netlify.png}" alt="ícone Netlify" class="netlify"></a>
            <a href="#" class="by">&#60;&#62; by Samuel Gaitkoski de Almeida 2021</a>
        </div>
    </footer>

</body>
</html>
